@charset "UTF-8";
/*Local Path Variable */
/* Server Path Variables */
@font-face {
  font-family: 'Conv_Bliss Pro Regular';
  src: url("/wps/wcm/connect/08654938-969a-422d-9a29-711ad99b7bb5/BlissProRegular.eot?MOD=AJPERES");
  src: local("Γÿ║"), url("/wps/wcm/connect/8dddd4c1-58e8-448f-9e76-9566958677b9/BlissProRegular.woff?MOD=AJPERES") format("woff"), url("/wps/wcm/connect/58a4f802-9311-483f-b202-b98fe1e0718e/BlissProRegular.ttf?MOD=AJPERES") format("truetype"), url("/wps/wcm/connect/7786b341-9fda-4f7a-a1f0-374bc3d725ca/BlissProRegular.svg?MOD=AJPERES") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_Bliss Pro Bold';
  src: url("/wps/wcm/connect/3b13d797-3a1b-428d-b0a9-5d5dc54e3f18/BlissProBold.eot?MOD=AJPERES");
  src: local("Γÿ║"), url("/wps/wcm/connect/6a7443bf-e581-4fbd-89c1-7fd85bc9aa4b/BlissProBold.woff?MOD=AJPERES") format("woff"), url("/wps/wcm/connect/2d24acf2-fd58-4a36-b1c6-a66a14ff4c37/BlissProBold.ttf?MOD=AJPERES") format("truetype"), url("/wps/wcm/connect/8a9537a0-9993-4d22-b3e7-b9215941ef60/BlissProBold.svg?MOD=AJPERES") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  color: #141414;
  font: bold 16px 'Conv_Bliss Pro Regular'; }

section {
  padding: 40px 0; }

.white-bg {
  background: #fff; }

p, li {
  font: normal 16px/22px 'Conv_Bliss Pro Regular';
  margin: 15px 0; }

h2 {
  font: bold 32px/32px 'Conv_Bliss Pro Bold';
  margin: 0; }

a:hover {
  text-decoration: none; }

#legal p, #legal li {
  font: normal 14px/16px "arial"; }

.gold-btn {
  padding: 8px 30px;
  background: #ffc423;
  border: none;
  border-radius: 20px;
  color: #141414;
  font-weight: bold; }
  .gold-btn:hover {
    background: #f8d061; }
  .gold-btn span {
    font-size: 11px;
    margin-right: 5px; }

header {
  padding: 15px 0; }
  header .gold-btn {
    float: right;
    margin-top: 20px; }

#hero {
  padding: 0; }
  #hero .container {
    background: url("images/hero.jpg?") no-repeat;
    background-size: cover; }
    #hero .container h1 {
      margin: 50px 0 252px 0; }

#insurance-info .accordion-header {
  background: #ebe9e7;
  border-radius: 10px;
  padding: 10px 30px;
  margin: 10px 0;
  overflow: hidden;
  cursor: pointer; }
  #insurance-info .accordion-header h2 {
    font: bold 32px/40px 'Conv_Bliss Pro Bold';
    float: left;
    margin: 0;
    padding-top: 20px;
    width: 80%; }
  #insurance-info .accordion-header .accord-indicator {
    float: right; }
    #insurance-info .accordion-header .accord-indicator p {
      padding: 20px 18px;
      background: #c7c6c5;
      border-radius: 33px;
      color: #fff;
      font: 33px/16px arial !important;
      box-shadow: 0 0 5px #888; }
    #insurance-info .accordion-header .accord-indicator .adjust-icon {
      padding: 20px 23px; }
#insurance-info .accordion-body {
  padding: 30px;
  margin-bottom: 10px; }
  #insurance-info .accordion-body .intro {
    font: 24px/30px 'Conv_Bliss Pro Regular'; }
  #insurance-info .accordion-body .circles li {
    list-style-type: circle;
    margin-left: 30px; }
  #insurance-info .accordion-body p, #insurance-info .accordion-body li {
    font: 16px/20px arial;
    color: #494745; }
    #insurance-info .accordion-body p span, #insurance-info .accordion-body li span {
      display: none; }
    #insurance-info .accordion-body p a:hover span, #insurance-info .accordion-body li a:hover span {
      display: inline-block;
      position: absolute;
      padding: 20px;
      background: #fff;
      text-align: center;
      color: #3d3c3c;
      border: 2px solid #005284;
      border-radius: 15px;
      z-index: 1;
      margin-left: 10px; }
#insurance-info .steps #stepsCarousel .carousel-inner, #insurance-info .steps #stepsCarousel2 .carousel-inner {
  border: #d2d2d2 1px solid;
  border-radius: 15px; }
  #insurance-info .steps #stepsCarousel .carousel-inner ul, #insurance-info .steps #stepsCarousel2 .carousel-inner ul {
    padding: 0 0 0 15px; }
  #insurance-info .steps #stepsCarousel .carousel-inner .tip, #insurance-info .steps #stepsCarousel2 .carousel-inner .tip {
    background: #ffc423;
    padding: 15px; }
#insurance-info .steps #stepsCarousel .carousel-indicators, #insurance-info .steps #stepsCarousel2 .carousel-indicators {
  position: relative;
  margin: 20px auto;
  left: 0;
  bottom: 0; }
  #insurance-info .steps #stepsCarousel .carousel-indicators li, #insurance-info .steps #stepsCarousel2 .carousel-indicators li {
    text-indent: 0;
    width: 60px;
    margin-right: 40px;
    background: none;
    border: none;
    font-size: 20px;
    height: 30px;
    border-radius: 0; }
    #insurance-info .steps #stepsCarousel .carousel-indicators li:hover, #insurance-info .steps #stepsCarousel2 .carousel-indicators li:hover {
      border-bottom: 3px #ffc423 solid; }
  #insurance-info .steps #stepsCarousel .carousel-indicators .active, #insurance-info .steps #stepsCarousel2 .carousel-indicators .active {
    border-bottom: 3px #ffc423 solid; }
  #insurance-info .steps #stepsCarousel .carousel-indicators li:last-child, #insurance-info .steps #stepsCarousel2 .carousel-indicators li:last-child {
    margin-right: 0; }
#insurance-info .steps #stepsCarousel .left, #insurance-info .steps #stepsCarousel .right, #insurance-info .steps #stepsCarousel2 .left, #insurance-info .steps #stepsCarousel2 .right {
  background-image: none;
  opacity: 1; }
  #insurance-info .steps #stepsCarousel .left:hover, #insurance-info .steps #stepsCarousel .right:hover, #insurance-info .steps #stepsCarousel2 .left:hover, #insurance-info .steps #stepsCarousel2 .right:hover {
    opacity: .5; }
  #insurance-info .steps #stepsCarousel .left .glyphicon, #insurance-info .steps #stepsCarousel .right .glyphicon, #insurance-info .steps #stepsCarousel2 .left .glyphicon, #insurance-info .steps #stepsCarousel2 .right .glyphicon {
    display: none;
    margin-top: 135px;
    color: #141414;
    background: #fff;
    padding: 10px;
    border-radius: 21px;
    width: 46px;
    height: 44px;
    font-size: 22px; }

#legal {
  padding: 0; }

footer {
  padding: 80px 0;
  background: #fff; }
  footer ul {
    padding: 0; }
    footer ul li {
      display: inline-block;
      margin-right: 10px; }
      footer ul li a {
        color: #d2d2d2; }
  footer .social-media {
    float: right; }
    footer .social-media a {
      display: block;
      width: 36px;
      height: 36px;
      padding: 0;
      background: url("images/icons-social-media.png") 0 0 no-repeat; }
      footer .social-media a:hover {
        background-position: 0 -64px;
        background-color: #fff; }
    footer .social-media .sm-twitter {
      background-position: -46px 0; }
      footer .social-media .sm-twitter:hover {
        background-position: -46px -64px; }
    footer .social-media .sm-youtube {
      background-position: -92px 0; }
      footer .social-media .sm-youtube:hover {
        background-position: -92px -64px; }
    footer .social-media .sm-linkedin {
      background-position: -138px 0; }
      footer .social-media .sm-linkedin:hover {
        background-position: -138px -64px; }
    footer .social-media .sm-googleplus {
      background-position: -184px 0; }
      footer .social-media .sm-googleplus:hover {
        background-position: -184px -64px; }

#rfi {
  padding: 20px;
  margin: 0 auto; }
  #rfi .modal-content {
    padding: 40px 0 30px; }
    #rfi .modal-content .close {
      margin-top: -40px; }
    #rfi .modal-content .mktoFieldWrap > .mktoLabel {
      margin-bottom: .625rem;
      font-size: 16px;
      font-weight: normal;
      width: auto !important;
      text-align: left; }
    #rfi .modal-content .mktoForm input[type=text],
    #rfi .modal-content .mktoForm input[type=email],
    #rfi .modal-content .mktoForm input[type=date] {
      padding: 5px;
      width: 100% !important;
      height: 30px; }
    #rfi .modal-content .mktoForm input[type=email] {
      width: 92% !important; }
    #rfi .modal-content .mktoForm input[type=date] {
      width: 97% !important; }
    #rfi .modal-content .mktoForm .mktoRadioList, #rfi .modal-content .mktoFieldDescriptor label a {
      margin-left: 10px; }
    #rfi .modal-content .mktoForm .mktoButtonWrap.mktoSimple {
      margin-left: 10px !important; }
      #rfi .modal-content .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
        border-radius: 1.25rem;
        font-size: 16px;
        font-weight: bold;
        border: none !important;
        padding: 15px 40px;
        box-shadow: none;
        background: #f2bf2d !important;
        color: #333;
        margin-top: 20px; }
        #rfi .modal-content .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
          background: #fdc124 !important; }

@media screen and (max-width: 1024px) {
  #insurance-info .accordion-header h2 {
    font: bold 26px/40px 'Conv_Bliss Pro Bold'; }
  #insurance-info .steps #stepsCarousel .carousel-inner, #insurance-info .steps #stepsCarousel2 .carousel-inner {
    border: #d2d2d2 1px solid;
    border-radius: 15px; }
    #insurance-info .steps #stepsCarousel .carousel-inner ul, #insurance-info .steps #stepsCarousel2 .carousel-inner ul {
      padding: 0 0 0 15px; }
    #insurance-info .steps #stepsCarousel .carousel-inner .tip, #insurance-info .steps #stepsCarousel2 .carousel-inner .tip {
      background: #ffc423;
      padding: 15px; }
  #insurance-info .steps #stepsCarousel .carousel-indicators li, #insurance-info .steps #stepsCarousel2 .carousel-indicators li {
    width: 60px;
    margin-right: 26px; } }
@media screen and (max-width: 768px) {
  #hero .container {
    background-size: contain; }
    #hero .container h1 {
      margin: 50px 0 93px 0;
      width: 50%; }

  #insurance-info .accordion-header h2 {
    font: bold 20px/40px 'Conv_Bliss Pro Bold'; }
  #insurance-info .steps #stepsCarousel .carousel-indicators li, #insurance-info .steps #stepsCarousel2 .carousel-indicators li {
    width: 35px;
    margin-right: 26px;
    font-size: 16px;
    height: 45px; } }
@media screen and (max-width: 736px) {
  #hero .container h1 {
    margin: 50px 0 67px 0;
    width: 50%; }

  #insurance-info .accordion-header h2 {
    font: bold 18px/40px 'Conv_Bliss Pro Bold'; }
  #insurance-info .steps #stepsCarousel .carousel-indicators li, #insurance-info .steps #stepsCarousel2 .carousel-indicators li {
    width: 30px;
    margin-right: 20px;
    font-size: 16px;
    height: 45px; } }
@media screen and (max-width: 420px) {
  header .gold-btn {
    font-size: 12px;
    padding: 8px 20px; }

  #hero .container h1 {
    margin: 121px 0  0;
    width: 100%; }

  #insurance-info .accordion-header h2 {
    font: bold 18px/24px 'Conv_Bliss Pro Bold';
    padding-top: 7px;
    width: 75%; }
  #insurance-info .steps #stepsCarousel .carousel-indicators, #insurance-info .steps #stepsCarousel2 .carousel-indicators {
    width: 100%; }
    #insurance-info .steps #stepsCarousel .carousel-indicators li, #insurance-info .steps #stepsCarousel2 .carousel-indicators li {
      width: 25px;
      margin-right: 15px;
      font-size: 14px;
      height: 45px; } }

/*# sourceMappingURL=global.css.map */
