
.h1, h1 {
    font-size: 40px;
    font-weight: bold;
}
h3 span {  font-weight: bold;  }
#d1 h2 { color: #141414; }
#d1 h3 { font-weight: bold;  }
#d1 h4 { font-size: 19px;
    font-weight: bold;}
#d2 h3 { color: #141414; font-weight: bold; }
#d3 h3 { color: #141414; font-weight: bold; }
#d3 h4 { font-size: 19px;
    font-weight: bold;}
#hero { 
  padding: 0; }
  #hero .container {
    background: url("images/insurance-hub-hero2.jpg") no-repeat;
    background-size: cover; }
    #hero .container h1 {
      padding-left: 24px;  }
 #hero  { margin-top: 2px;  }
header .navbar {
  padding: 15px 0;
  margin: 0; }
header .navbar .navbar-toggler {
  float: right;
  border: none;
  background: #fff;
  font-size: 30px;
  margin-top: 7px;
  color: #141414; }
header .navbar img {
  float: left; }
header .navbar ul.navbar-nav {
  margin-top: 45px;
  float: right; }
header .navbar ul.navbar-nav li {
  float: left;
  list-style: none;
  margin: 0 15px 0 0; }
header .navbar ul.navbar-nav li a {
  font: normal 18px 'Conv_Bliss Pro Bold';
  color: #555555; }
header .navbar ul.navbar-nav li a:hover {
  color: #555555;
  border-bottom: #ffc423 3px solid; }
header .navbar ul.navbar-nav li .nav-active {
  border-bottom: #ffc423 3px solid; }

#how .gold-btn {
  margin-bottom: 0px;
  float: none; 
    font-size: 14px; color: #141414;}
@media screen and (max-width: 768px) {
  header .navbar ul.navbar-nav li a {
    font: normal 12px 'Conv_Bliss Pro Bold';  }

  #how .gold-btn {
    width: 100%;
    padding: 8px 15px;
    font-size: 11px; } }
@media screen and (max-width: 736px) {
  header .navbar img {
    float: none;
    width: 150px; }
  header .navbar ul.navbar-nav {
    margin-top: 0;
    float: none;
    padding: 0; }
  header .navbar ul.navbar-nav li {
    float: none;
    list-style: none;
    margin: 15px 0;
    text-align: center; }
  header .navbar ul.navbar-nav li a {
    font: normal 16px 'Conv_Bliss Pro Bold'; }
  header .navbar ul.navbar-nav li .nav-active {
    border-bottom: none; }
}
.gold-btn {
  padding: 8px 30px;
  background: #ffc423;
  border: none;
  border-radius: 20px;
  color: #141414;
  font: 16px/16px 'Conv_Bliss Pro Bold'; }
.gold-btn:hover {
  background: #f8d061; }
.gold-btn  a {
   color: #141414; }

.blue-btn {
  padding: 8px 15px;
  background: #04528e;
  width: 285px;
  text-align: left;
  border: none;
  border-radius: 20px;
  color: #fff;
  font: 14px/14px 'Conv_Bliss Pro Bold'; }
.blue-btn:hover {
  background: #0465ae;  color: #fff;}
.blue-btn  a {
   color: #fff; }

header .navbar ul.navbar-nav li .gold-btn a {
   color: #141414; }

header .gold-btn {
    float: right;
    margin-top: -2px !important; 
    padding: 4px 15px;
    color: #141414;
}
section {
    padding: 10px 0;
}

.bluebox {
    background: #def6f8;
    margin-bottom: .75em;
    margin-top: 1.5em;
    display: block;
    padding: 1.25em .5em 1.25em 2.5em;
}
.bluebox p { 
        line-height: 13px;
        padding: 0;
}
.bluebox li { 
        font-size: 17px;  
        list-style-type: none;
        margin: 0 14px 0 -12px;
        padding: 0;
}

table { background: border: none; font: 14px; font-weight: normal; }    
    tr, td { vertical-align: top; align: left; padding-left: 2px;}
    .ttop   { background-color: #04528e; color: #fff; font-size: 15pt !important; border-right: none;}      
    .tline1 { background-color: #fff; border-right: #fff solid 1px; }
    .tline2 { background-color: #ddd; border-right: #fff solid 1px; }



#legal p { font-size: 11px;  }

.italic {
  font-style: italic;
}
.nav-tabs { border-bottom: none;  }

.carousel-inner {
    border: #d2d2d2 1px solid;
    border-radius: 15px;
}

.nav-tabs > li > a:hover{
    border: 1px solid #FDC932;  
    border-right: 0px none;
    background: #eee;
    color:#141414;
    font-weight: bold;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    border-top: 1px solid #FDC932;
    border-right: 0px none;
    color:#000;
    background: #FDC932;
    font-weight: normal;
} 

#covered {
    padding: 2px 0;
}
#covered p {
    margin-top: 5px;
}

